/* -----------------------------------------------------
 * Import Pywal colors
 * ----------------------------------------------------- */
 /*@import '../../../../../.config/waybar/colors.css';*/

 @define-color waybarbackground rgba(30,30,46,0.8);
 @define-color backgroundlight #cdd6f4;
 @define-color backgrounddark #1e1e2e;
 @define-color workspacesbackground #1e1e2e;
 @define-color workspacesbuttonbackground #45475a;
 @define-color workspacesbuttonactivebackground #cba6f7;
 @define-color workspacesbackground4 #9399b2;

 @define-color modulebordercolor #89b4fa;

 @define-color lighttextcolor1 #cdd6f4;
 @define-color lighttextcolor2 #f5e0dc;
 @define-color lighttextcolor3 #a6e3a1;
 @define-color darktextcolor1 #11111b;

 @define-color iconcolor #cba6f7;

 @define-color windowbackground #89b4fa;
 @define-color windowtext #11111b;
 @define-color windowborder #1e1e2e;

 @define-color green #a6e3a1;
 @define-color yellow #f9e2af;
 @define-color red #f38ba8;

@import '../style.css';

window#waybar {
    background-color: @waybarbackground;
    border-bottom: 0px solid #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#custom-ml4w-welcome {
    background-image: url("../../assets/ml4w-icon-white.svg");
}

