/* -----------------------------------------------------
 * Import Pywal colors
 * ----------------------------------------------------- */
 /*@import '../../../../../.config/waybar/colors.css';*/

 @define-color waybarbackground rgba(46,52,64,0.8);
 @define-color backgroundlight #eceff4;
 @define-color backgrounddark #2e3440;
 @define-color workspacesbackground #2e3440;
 @define-color workspacesbuttonbackground #4c566a;
 @define-color workspacesbuttonactivebackground #88c0d0;
 @define-color workspacesbackground4 #b48ead;

 @define-color modulebordercolor #81a1c1;

 @define-color lighttextcolor1 #eceff4;
 @define-color lighttextcolor2 #ebcb8b;
 @define-color lighttextcolor3 #a3be8c;
 @define-color darktextcolor1 #2e3440;

 @define-color iconcolor #81a1c1;

 @define-color windowbackground #81a1c1;
 @define-color windowtext #2e3440;
 @define-color windowborder #2e3440;

 @define-color green #a3be8c;
 @define-color yellow #ebcb8b;
 @define-color red #bf616a;

@import '../style.css';

window#waybar {
    background-color: @waybarbackground;
    border-bottom: 0px solid #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#custom-ml4w-welcome {
background-image: url("../../assets/ml4w-icon-white.svg");
}
